<!DOCTYPE html>
<html>
<head>
          <meta charset="UTF-8" />
          <title>data pred</title>
</head>
<body>
          <div>
                    <h1>FWI prediction</h1>

                    <!-- input form for recv quer to ml  -->
                     <form action="{{url_for('predict_datapoints')}}" method="post">
                              <input type="text" name="Temp" placeholder="Temp" required='required' /><br>
                              <input type="text" name="RH" placeholder="RH" required='required' /><br>
                              <input type="text" name="Ws" placeholder="WS" required='required' /><br>
                              <input type="text" name="RAIN" placeholder="RAIN" required='required' /><br>
                              <input type="text" name="FFMC" placeholder="FFMC" required='required' /><br>
                              <input type="text" name="DMC" placeholder="DMC" required='required' /><br>
                              <input type="text" name="ISI" placeholder="ISI" required='required' /><br>
                              <input type="text" name="Classes" placeholder="Classes" required='required' /><br>
                              <input type="text" name="Region" placeholder="Region" required='required' /><br>


                              <button type="submit" class="btn btn-primary btn-block btn-large">predict</button>
                     </form>
                    <h2>
                              FWI prediction is {{results}}
                    </h2>
          </div>
          
</body>
</html>